[class*="entypo-"]:before {
font-family:entypo,sans-serif;
}

[class*="fontawesome-"]:before {
font-family:FontAwesome,sans-serif;
}

.wrapper {
width:600px;
height:480px;
background-color:#1F222A;
border-radius:7px;
display: none;
margin:5% auto;
}

body {
color:#eee;
font-family:'Open Sans',sans-serif;
background-color:#000;
}

body.isok {
background-color:#E0E1E3;
transition:background .5s ease;
}

section {
height:100%;
box-sizing:border-box;
max-width:480px;
float:left;
position:relative;
background-color:#1F222A;
border-radius:7px;
overflow:hidden;
padding:10px 30px;
}

section.bordure {
width:120px;
height:100%;
float:left;
background-color:#373B46;
border-radius:7px;
}

section.bordure p {
bottom:0;
color:#eee;
font-size:2.2em;
font-weight:700;
line-height:55px;
position:absolute;
text-align:left;
text-decoration:none;
text-transform:uppercase;
transform:rotate(-90deg);
transform-origin:0 0 0;
transition:font-size .2s ease 0;
}

section.bordure p:hover {
font-size:2.6em;
}

section.contenu h1 {
width:400px;
position:relative;
font-size:1.5em;
border-bottom:2px solid #4b4e57;
padding:20px 0 35px;
}

section.contenu h1 a.lk {
width:50px;
height:0;
position:absolute;
top:10px;
right:0;
display:block;
overflow:hidden;
padding-top:50px;
background:url(../images/gps_off.jpg) no-repeat center center;
text-decoration:none;
background-color:#000;
border-radius:3px;
transition:color .5s;
}

section.contenu h1 a.lk:hover {
/** Réparation du nom de l'image **/
background-image:url(../images/gps_on.jpg);
}

section.contenu .numero_jour {
text-align:right;
margin-top:10px;
font-style:italic;
}

section.contenu .temperature {
color:#3D414C;
font-size:5em;
transition:color .5s ease;
padding:40px 0;
}

section.contenu .temperature:hover {
color:#ff0;
}

section.contenu .temperature.entypo-cloud:hover {
color:#C6C6C4;
}

section.contenu .temperature.entypo-water:hover {
color:#377ECE;
}

section.contenu .temperature.entypo-air:hover {
color:#C68ACE;
}

section.contenu .temperature.entypo-cloud:hover,
section.contenu .temperature.entypo-help:hover,
section.contenu .temperature.entypo-moon:hover {
color:#fff;
}

section.contenu .temperature h2 {
display:inline;
color:#eee;
font-weight:300;
}

section.contenu .temperature h2 span.degree-symbol {
display:inline-block;
font-size:.6em;
vertical-align:top;
margin:0 15px;
}

section.contenu .temperature h2 span.celcius {
display:inline-block;
color:#3D414C;
font-size:.3em;
vertical-align:top;
margin:10px 0 0 15px;
}

section.contenu .description {
margin-bottom:10px;
}

section.contenu ul {
margin-bottom:70px;
padding:5px;
}

section.contenu ul li {
display:block;
float:left;
margin-right:30px;
color:#3D414C;
font-size:2em;
}

section.contenu ul li:last-child {
margin-right:0;
}

section.contenu ul li span {
padding-left:10px;
color:#eee;
font-size:.6em;
line-height:30px;
vertical-align:top;
}

section.contenu .bullets {
height:70px;
color:#3D414C;
text-align:center;
}

section.contenu .bullets span {
margin-right:10px;
font-size:.6em;
cursor:pointer;
}

section.contenu .bullets span.active {
color:#eee;
font-size:.8em;
}

section.contenu a {
color:#60646e;
font-size:1.2em;
text-decoration:none;
transition:color .5s;
}

section.contenu a:hover {
color:#eee;
}